.leaderboardTable{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    margin: 4rem;
    border-radius: 2rem;
    flex-direction: column;
    font-family: monospace;
    background-color: #ffd300;
    color: black;
}
.leaderboardTable h1{
    margin-bottom: 3rem;
    font-size: 2rem;
    background: #f04155;
    padding: 1rem 2rem;
    box-shadow: 7px 0px 7px 0px rgba(7, 23, 36, 0.66);
    color: white;
    border-radius: 0 7px 7px 0;
}
.leaderboardRows table, td, th{
    font-size: 1.3rem;
    background-color: white;
    border-radius: 8px;
    text-align: center;
}

th{
    padding: 1rem;
}
td{
    padding: 2rem;
}