.timerBox {
    border: 2px solid black;
    padding: 1.5rem 2rem;
    text-align: center;
    display: flex;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    background-color: white;
    border-radius: 8px;
}
.timerBox img {
    margin-right: 1rem;
}