.notFound{
    color: brown;
    font-size: larger;
    font-weight: bold;
}
.found{
    color:rgb(33, 193, 33);
    font-size: larger;
    font-weight: bold;
}
.homeMain{
    display: flex;
    gap: 2rem;
    font-family: Texas;
    box-shadow: -2px 4px 15px 3px rgba(0,0,0,0.29);
    margin: 2rem;
    padding: 0 2rem;
    border: 2px solid white;
    background-color: black;
    color:white;
}
.homeMain img{
    border-radius: 5px;
    border: 2px solid white;
}
.gameChar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
};
